<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAWORKS Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Navbar selection -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">JAWORKS</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/" class="navbar__links">
                    Home
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="tech.html" class="navbar__links">
                    Tech
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="/" class="navbar__links">
                    Products
                    </a>
                </li>
                <li class="navbar__btn">
                    <a href="/" class="button">
                        Sign up
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Hero section -->
    <div class="hero" id="home">
        <div class="hero__container">
            <h1 class="hero__heading">Welcome to
                <span>
                    Jaworks
                </span>
            </h1>
            <p class="hero__description">Unlimited possibilities</p>
            <button class="main__btn"><a href="#">Explore</a></button>
        </div>
    </div>
    <!-- About section -->
    <div class="main" id="about">
        <div class="main__container">
            <div class="main__img--container">
                <div class="main__img--card"><i class="fas fa-layer-group"></i></div>
            </div>
            <div class="main__content">
                <h1>What is our goal?</h1>
                <h2>Our goal is to make various useful services and products</h2>
                <p>Email our CEO to learn more about our services</p>
                <button class="main__btn"><a href="#">Email CEO</a></button>
            </div>
        </div>
    </div>

    <!-- Services section -->
    <div class="services" id="services">
        <h1>Our services</h1>
        <div class="services__wrapper">
            <div class="services__card">
                <h2>Custom JAWORKS projects</h2>
                <p>Soon to be working on a JA-AI (or Jaworks AI for longer)</p>
                <div class="services__btn"><button>Get started</button></div>
            </div>
            <div class="services__card">
                <h2>Useful utilities</h2>
                <p>Many projects</p>
                <div class="services__btn"><button>Get started</button></div>
            </div>
            <div class="services__card">
                <h2>Fun games</h2>
                <p>Explore the created games</p>
                <div class="services__btn"><button>Get started</button></div>
            </div>
            <div class="services__card">
                <h2>Graphical user interfaces</h2>
                <p>Available on windows, mac and linux</p>
                <!-- you put an image tag here if you want to replace with images or somewhere -->
                <div class="services__btn"><button>Get started</button></div>
            </div>
        </div>
    </div>

    <!-- features section -->
    <div class="main" id="sign-up">
        <div class="main__container">
            <div class="main__content">
                <h1>Join our team</h1>
                <h2>Sign up today</h2>
                <p>See what makes us different</p>
                <button class="main__btn"><a href="#">Sign up</a></button>
            </div>
            <div class="main__img--container">
                <div class="main__img--card" id="card-2"><i class="fas fa-users"></i></div>
            </div>
        </div>
    </div>

    <!-- footer section -->
    <div class="footer__container">
        <div class="footer__links">
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>About us</h2>
                    <a href="/sign-up">How it works</a>
                    <a href="/sign-up">What people have said about us</a>
                    <a href="/sign-up">Learn more</a>
                    <a href="/sign-up">Terms of services</a>
                </div>
                <div class="footer__link--items">
                    <h2>Social media</h2>
                    <a href="/sign-up">Youtube</a>
                    <a href="/sign-up">Twitter</a>
                    <a href="/sign-up">Instagram</a>
                    <a href="/sign-up">Facebook</a>
                </div>
            </div>
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>Personal social media</h2>
                    <a href="/sign-up">Youtube</a>
                    <a href="/sign-up">Facebook</a>
                    <a href="/sign-up">Linkedin</a>
                    <a href="/sign-up">Whatsapp</a>
                </div>
                <div class="footer__link--items">
                    <h2>Company links</h2>
                    <a href="/sign-up">JaworkStudios</a>
                    <a href="/sign-up">Github</a>
                    <a href="/sign-up">Reddit</a>
                    <a href="/sign-up">Other</a>
                </div>
            </div>
        </div>
        <!-- social media -->
        <section class="social__media">
            <div class="social__media--wrap">
                <div class="footer__logo">
                    <a href="/" id="footer__logo">Jaworks</a>
                </div>
                <p class="website__rights">copyright all rights reserved etc (not true i dont think)
                    <div class="social__icons">
                        <a href="/" class="social__icon--link"><i class="fab fa-youtube" target="_blank"></i></a>
                        <a href="/" class="social__icon--link"><i class="fab fa-instagram" target="_blank"></i></a>
                        <a href="/" class="social__icon--link"><i class="fab fa-facebook" target="_blank"></i></a>
                        <a href="/" class="social__icon--link"><i class="fab fa-twitter" target="_blank"></i></a>
                    </div>
                </p>
            </div>
        </section>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>