<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    <!-- font style (icons) -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
    crossorigin="anonymous">
    <!-- bootstrap from website -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <!-- personal css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block style %} }{% endblock %}
</head>
<body>
    <!-- Navbar selection -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">JAWORKS STUDIOS</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                {% if user.is_authenticated %}
                <!-- the /#home the / is to take you to the homepage if you aren't already and the # to that section of the page -->
                <li class="navbar__item">
                    <a href="/#home" class="navbar__links" id="home-page">
                    Home
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="/#about" class="navbar__links" id="about-page">
                    About
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="/#services" class="navbar__links" id="services-page">
                    Services
                    </a>
                </li>
                <li class="navbar__btn">
                    <a href="/logout" class="button" id="logout">
                        Log out
                    </a>
                </li>
                {% else %}
                <li class="navbar__item">
                    <a href="#home" class="navbar__links" id="home-page">
                    Home
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#about" class="navbar__links" id="about-page">
                    About
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#services" class="navbar__links" id="services-page">
                    Services
                    </a>
                </li>
                <li class="navbar__btn">
                    <a href="/login" class="button" id="login">
                        Sign in
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>



    {% with messages = get_flashed_messages(with_categories=1) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == '2' %}
        <div class="alert alert-danger alter-dismissable fade show" id="margin0" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" id="margin0" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block main %}

    {% endblock %}

   

    <!-- footer section -->
    <div class="footer__container">
        <div class="footer__links">
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>About us</h2>
                    <a href="/sign-up">How it works</a>
                    <a href="/sign-up">What people have said about us</a>
                    <a href="/sign-up">Learn more</a>
                    <a href="/sign-up">Terms of services</a>
                </div>
                <div class="footer__link--items">
                    <h2>Social media</h2>
                    <a href="/sign-up">Youtube</a>
                    <a href="/sign-up">Twitter</a>
                    <a href="/sign-up">Instagram</a>
                    <a href="/sign-up">Facebook</a>
                </div>
            </div>
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>Personal social media</h2>
                    <a href="/sign-up">Youtube</a>
                    <a href="/sign-up">Facebook</a>
                    <a href="/sign-up">Linkedin</a>
                    <a href="/sign-up">Whatsapp</a>
                </div>
                <div class="footer__link--items">
                    <h2>Company links</h2>
                    <a href="/sign-up">JaworkStudios</a>
                    <a href="/sign-up">Github</a>
                    <a href="/sign-up">Reddit</a>
                    <a href="/sign-up">Other</a>
                </div>
            </div>
        </div>
        <!-- social media -->
        <section class="social__media">
            <div class="social__media--wrap">
                <div class="footer__logo">
                    <a href="/" id="footer__logo">Jaworks</a>
                </div>
                <p class="website__rights">copyright all rights reserved etc (not true i dont think)
                    <div class="social__icons">
                        <a href="/" class="social__icon--link"><i class="fab fa-youtube" target="_blank"></i></a>
                        <a href="/" class="social__icon--link"><i class="fab fa-instagram" target="_blank"></i></a>
                        <a href="/" class="social__icon--link"><i class="fab fa-facebook" target="_blank"></i></a>
                        <a href="/" class="social__icon--link"><i class="fab fa-twitter" target="_blank"></i></a>
                    </div>
                </p>
            </div>
        </section>
    </div>
  <!-- bootstrap js -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
crossorigin="anonymous"></script>
<!-- personal js -->
<script src="{{ url_for('static', filename='app.js') }}"></script>
{% block script %}
{% endblock %}
</body>
</html>