{% extends "base.html" %}

{% block title %}
    <title>Login</title> 
{% endblock %}

{% block main %}
    <!-- Hero section -->
    <div class="hero" id="home">
        <div class="hero__container">
            <h1 class="hero__heading">This is the 
                <span>
                    login
                </span>
                page
            </h1>
            <p class="hero__description">Unlimited possibilities</p>
            <button class="main__btn"><a href="#">Explore</a></button>
        </div>
    </div>
{% endblock %}