{% extends "base.html" %}

{% block title %}
    <title>Sign up</title> 
{% endblock %}

{% block style %}

{% endblock %}


{% block main %}
    <!-- Hero section -->
    <div class="hero" id="home">
        <div class="hero__container">
            <h1 class="hero__heading">
                <span>
                    Sign up
                </span>
                below
            </h1>

            <form method="POST" id="color">


                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="displayName"> Display Name</label>
                    <input type="text" class="form-control" id="displayName" name="displayName" placeholder="Enter display name">
                </div>

                <div class="form-group">
                    <label for="password1">Password</label>
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
                </div>

                <div class="form-group">
                    <label for="password2">Confirm password</label>
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Enter confirmation">
                </div>
                <br />
                <button class="button" type="submit" class="btn btn-primary">Sign Up</button>

            </form>
        </div>
    </div>
    {% endblock %}

    {% block script %}

  {% endblock %}