{% extends "base.html" %}

{% block title %}
    <title>Slideshow</title> 
{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" 
integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" 
crossorigin="anonymous" 
referrerpolicy="no-referrer" />
{% endblock %}

{% block main %}

<div class="hero" id="home">
  <div class="hero__container">
      <p class="hero__description">Welcome to the image gallery</p>
  </div>

</div>
<div class="top-img">
  <div class="slideimg" class="aos-item" data-aos="fade-up">
    <img src="{{ url_for('static', filename='slideimg/img1production.JPG') }}" alt="1st slide">
  </div>
  <div class="slideimg" class="aos-item" data-aos="fade-down">
    <img src="{{ url_for('static', filename='slideimg/img2production.JPG') }}" alt="2nd slide">
  </div>
  <div class="slideimg" class="aos-item" data-aos="fade-left">
    <img src="{{ url_for('static', filename='slideimg/img3production.JPG') }}" alt="3rd slide">
  </div>
  <div class="slideimg" class="aos-item" data-aos="fade-right">
    <img src="{{ url_for('static', filename='slideimg/img4production.JPG') }}" alt="4th slide">
  </div>
  <div class="slideimg" class="aos-item" data-aos="fade-left">
    <img src="{{ url_for('static', filename='slideimg/img5production.JPG') }}" alt="5th slide">
  </div>
  <div class="slideimg" class="aos-item" data-aos="fade-right">
    <img src="{{ url_for('static', filename='slideimg/img6production.JPG') }}" alt="6th slide">
  </div>
  <div class="slideimg" class="aos-item" data-aos="fade-left">
    <img src="{{ url_for('static', filename='slideimg/img7production.JPG') }}" alt="7th slide">
  </div>
  <div class="slideimg" class="aos-item" data-aos="fade-right">
    <img src="{{ url_for('static', filename='slideimg/img8production.JPG') }}" alt="8th slide">
  </div>
  <div class="slideimg" class="aos-item" data-aos="fade-left">
    <img src="{{ url_for('static', filename='slideimg/img9production.JPG') }}" alt="9th slide">
  </div>
</div>




{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" 
integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" 
crossorigin="anonymous"
referrerpolicy="no-referrer"></script>
<script>
  AOS.init();
</script>
{% endblock %}