{% extends "base.html" %}

{% block title %}
    <title>Useful utilities</title> 
{% endblock %}

{% block style %}
{% endblock %}

{% block main %}
<div class="services" id="services">
    <h1>Our useful utilities</h1>
    <div class="services__wrapper">
        <a class="services__card" href="/tasklist">
            <h2>Tasks</h2>
            <p>Create tasks for your account</p>
            <div class="services__btn"><button>Get started</button></div>
        </a>
        <a class="services__card" href="/notes">
            <h2>Notes</h2>
            <p>Create notes for your account</p>
            <div class="services__btn"><button>Get started</button></div>
        </a>
        <a class="services__card" href="/slideshow">
            <h2>Gallery</h2>
            <p>Explore original images</p>
            <div class="services__btn"><button>Get started</button></div>
        </a>
    </div>
</div>

{% endblock %}

{% block script %}
{% endblock %}